node_modules
dist
.env
.env.local
.env.production
*.log
.DS_Store
**/.DS_Store
.yedek-linkler/
.yedek-hizli-hesap/
.yedek-linkler/
.yedek-hizli-hesap/
.yedek-form/
.yedek-motor/
.yedek-sanayi/
.yedek-parsel/
.silinen-yedek/
.vercel
.env*
